
/*
Design by Free CSS Templates
http://www.freecsstemplates.org
Released for free under a Creative Commons Attribution 2.5 License
*/

body {
	margin: 0px 0px 0px 0px;
	padding: 0;
	background: #E6E6E6 url(images/main-bg.png) repeat;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 15px;
	color: #8F8F8F;
}

h1, h2, h3 {
	margin: 0;
	padding: 0;
	font-weight: 200;
	color: #222222;
}

h2 {
	font-size: 3em;
}

p, ol, ul {
	margin-top: 0px;
	padding: 0px;
}

p, ol {
	line-height: 180%;
}

strong {
}

a {
	color: #5C5539;
}

a:hover {
	text-decoration: none;
}

a img {
	border: none;
}

img.border {
}

img.alignleft {
	float: left;
}

img.alignright {
	float: right;
}

img.aligncenter {
	margin: 0px auto;
}

hr {
	display: none;
}

/** WRAPPER */

#wrapper {
	overflow: hidden;
	width: 1200px;
	margin: 0px auto;
	background: #FFFFFF;
	box-shadow: 0px 0px 10px 5px rgba(0,0,0,.2);
}

#userbox {
	background: #232323;
	height: 20px;
	width: 100%;	
	color: #cdcdcd;	
	margin: auto;
	text-align: center;
	font-size: 13px;
	position: fixed; 
}

#userbox a{
	color: #cdcdcd;
	margin-left: 2px;
}


.errorbox {
	border: 2px solid red;
	border-color: #ff0000;
	background: #ffbaba;
	background-image: url("./images/cancel.png");
	background-repeat: no-repeat;
	background-position: center left;
	margin: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.errorbox p {
	margin-left: 5%;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #ff0000;
	font-size: 12px;
}

.successbox {
	border: 2px solid red;
	border-color: #00ff00;
	background: #dcffdc;
	background-image: url("./images/tick.png");
	background-repeat: no-repeat;
	background-position: center left;
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 2px;
	padding-bottom: 2px;
}

.successbox p {
	margin-left: 5%;
	margin-top: 0px;
	margin-bottom: 0px;
	color: #04B404;
	font-size: 12px;
}



.container {
	width: 1000px;
	margin: 0px auto;
}

.clearfix {
	clear: both;
}

/* Header */

#header-wrapper {
	overflow: hidden;
	height: 150px;
	background: #36332E;
}

#header {
	width: 1200px;
	height: 150px;
	margin: 0 auto;
	padding: 0px 0px;
}

/* Logo */

#logo {
	float: left;
	width: 320px;
	height: 150px;
	background: #EBB462;
	padding: 0px 0px 0px 40px;
}

#logo h1 {
	padding: 50px 0px 0px 0px;
	letter-spacing: -2px;
	font-size: 45px;
}

#logo h1 a {
	text-decoration: none;
	color: #1B2024;
}

#logo p {
	margin-top: -10px;
	color: #5F5950;
}

/* Menu */

#menu {
	float: right;
	width: 800px;
	height: 80px;
	padding: 20px 40px 0px 0px;
}

#menu ul {
	float: left;
	margin: 0;
	margin-left: 7.5%;
	padding: 40px 0px 0px 0px;
	list-style: none;
	line-height: normal;
}

#menu li {
	float: left;
}

#menu a {
	display: block;
	margin-left: 1px;
	padding: 7px 20px 7px 20px;
	letter-spacing: 1px;
	text-decoration: none;
	text-align: center;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 16px;
	font-weight: 300;
	color: #757575;
}

#menu a:hover, #menu .current_page_item a {
	text-decoration: none;
	background: #EBB462;
	box-shadow: inset 0px 0px 10px 5px rgba(0,0,0,.1);
	border-radius: 5px;
	color: #36332E;
}

/* Page */

#page-wrapper {
	overflow: hidden;
}

#page {
	overflow: hidden;
	width: 1120px;
	margin: 0px auto;
	padding: 50px 40px;
	color: #8F8F8F;
}

/** CONTENT */

#wide-content {
}

#wide-content h2 {
	padding: 0px 0px 20px 0px;
	letter-spacing: -1px;
	font-size: 36px;
	color: #222222;
}


/** CONTENT */

#content {
	float: right;
	width: 800px;
	padding: 0px 0px 0px 0px;
}

#content h2 {
	padding: 0px 0px 20px 0px;
	letter-spacing: -1px;
	font-size: 36px;
	color: #222222;
}

#content .subtitle {
	padding: 0px 0px 30px 0px;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-size: 18px;
	color: #81AFC5;
}


/* Footer */

#footer {
	/*height: 100px;*/
	margin: 0 auto;
	padding: 50px 0px 15px 0px;
}

#footer p {
	text-shadow: 1px 1px 0px #FFFFFF;
	text-align: center;
	font-size: 12px;
	color: #4D565E;
}

#footer a {
	color: #4D565E;
}


/* Button Style */

.button-style {
	display: inline-block;
	margin-top: 30px;
	padding: 7px 30px;
	background: #36332E;
	border-radius: 5px;
}

.button-style a {
	letter-spacing: 1px;
	text-decoration: none;
	text-transform: uppercase;
	font-family: 'Oswald', sans-serif;
	font-weight: 300;
	font-size: 16px;
	color: #FFFFFF;
}

/* List Style 1 */

ul.style1 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style1 li {
	padding: 20px 0px 20px 0px;
	border-top: 1px dashed #E6E7DC;
}

ul.style1 a {
	text-decoration: none;
	color: #6B6B6B;
}

ul.style1 a:hover {
	text-decoration: underline;
	color: #6B6B6B;
}

ul.style1 .first {
	padding-top: 0px;
	border-top: none;
}

/* List Style 2 */

ul.style2 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style2 li {
	padding: 15px 0px 15px 0px;
	border-top: 1px solid #E6E7DC;
}

ul.style2 .first {
	padding-top: 0px;
	border-top: none;
}

/* List style 3 */

ul.style3 {
	margin: 0px;
	padding: 0px;
	list-style: none;
}

ul.style3 li {
	padding: 20px 0px 20px 0px;
	border-top: 1px solid #E6E7DC;
}

ul.style3 p {
	margin: 0px;
	padding: 0px;
}

ul.style3 img {
	float: left;
	margin-top: 3px;
	margin-right: 20px;
}

ul.style3 .posted {
	padding: 10px 0px 10px 0px;
	font-size: 8pt;
	color: #A2A2A2;
}

ul.style3 .first {
	padding-top: 0px;
	border-top: none;
}


/* Button Style */

.button-style1 {
	margin-top: 30px;
}

.button-style1 a {
	padding: 10px 25px;
	background: #EBB462;
	border-radius: 5px;
	text-decoration: none;
	text-shadow: 1px 1px 0px #FCE3BB;
	color: #36332E !important;
}
